<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mina Meddelanden</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <button id="logout-btn">Logga ut</button>
    <button id="messages-btn">Meddelanden</button>
    <button id="write-btn">Skriv Meddelande</button>
</nav>
<h1>Dina Meddelanden</h1>
<div id="messages-list">
</div>
<script type="module" src="/js/messages.js" defer></script>
</body>
</html>
